phoneNumbers:
  - name: Mom
    number: 555-555-5555
  - name: Dad
    number: 1234567890
  - name: Bob Loblaw
    number: (555)123-4567
  - name: Fred Estair
    number: (555) 123 - 4567
  - name: Faulty Entry
    number: (555) 123 - 456
  - name: Faulty Entry2
    number: (555) 123 - 45622